// Place all the styles related to the Phases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.phase {
	.btn-primary{
			background-color: #00802b !important;
    		border-color: #00802b !important;
    		color: #FFFFFF !important;
			}	
	.btn-primary:hover{
    	background-color: #519662 !important;
		}
}

